{% extends 'core/base.html' %}

{% block title %}{{ product.name }}{% endblock title %}


{% block content %}

    <style>
        .rating-list li {
            float: right;
            color: #ddd;
            padding: 10px 5px;
        }

        .rating-list li:hover,
        .rating-list li:hover ~ li {
            color: orange;
        }

        .rating-list {
            display: inline-block;
            list-style: none;
        }

        .checked {
            color: orange;
        }
    </style>

    <div class="max-w-6xl mx-auto flex flex-col lg:flex-row md:px-10 gap-10  bg-gray-100 py-12 px-12 rounded-xl shadow-xl">
        <div class="w-full md:w-auto flex-[1.5] max-w-[500px] lg:max-w-full mx-auto lg:mx-0">
            <img
                    src="{% if product.image %} {{ product.image.url }} {% else %} https://via.placeholder.com/240x240.jpg {% endif %}"
                    alt=""
                    class="h-[50vh] rounded-xl"
            >
        </div>

        <div class="flex-[1] py-3">
            <h1 class="text-[34px] font-semibold mb-2 leading-tight">{{ product.name }}</h1>
            <p class="mb-2 text-lg font-semibold">{{ product.get_display_price }} lei</p>
            {% if product.description %}
                <p class="text-lg font-bold mb-5">Detalii</p>
                <p class=" text-md mb-5 pr-5">{{ product.description }}</p>
            {% endif %}

            <a
                    href="#"
                    class="w-full py-4 rounded-full border bg-black border-black text-white hover:bg-white hover:border hover:border-black transition-all hover:text-black flex flex-row justify-center items-center space-x-2"
                    hx-get="{% url 'add_to_cart' product.id %}"
                    hx-target="#menu-cart-button"
                    hx-swap="outerHTML"
            >
                Add to cart
            </a>
        </div>

    </div>

{% endblock content %}

